<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/signup.css') }}"
    />
    <title>Signup</title>
  </head>
  <body>
    <div class="container">
      <div class="screen">
        <div style="z-index: 1; position: relative;">
          {% if messages %} {% for message in messages %}
          <div class="flash-messages" id="flash-messages">{{ message }}</div>
          {% endfor %} {% endif %}
          <script>
            // JavaScript to make the flash message fade out after 5 seconds
            setTimeout(function () {
              const flashMessages = document.getElementById("flash-messages");
              if (flashMessages) {
                flashMessages.classList.add("hidden");
              }
            }, 4000); // 5000 milliseconds = 5 seconds
          </script>
        </div>
        <div class="screen__content">
          <form class="login" method="POST" action="/signup">
            <div class="login__field">
              <i class="login__icon fas fa-user"></i>
              <input
                type="text"
                name="username"
                class="login__input"
                placeholder="User name"
                required
              />
            </div>
            <div class="login__field">
              <i class="login__icon fas fa-envelope"></i>
              <input
                type="email"
                name="email"
                class="login__input"
                placeholder="Email"
                required
              />
            </div>
            <div class="login__field">
              <i class="login__icon fas fa-lock"></i>
              <input
                type="password"
                name="password"
                class="login__input"
                placeholder="Password"
                required
              />
            </div>
            <div class="login__field">
              <i class="login__icon fas fa-lock"></i>
              <input
                type="password"
                name="confirm_password"
                class="login__input"
                placeholder="Repeat Password"
                required
              />
            </div>
            <button class="button login__submit" type="submit">
              <span class="button__text">Signup</span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>
          </form>
          <div class="social-login">
            Have an account?
            <a
              style="
                text-decoration: none;
                color: aliceblue;
                text-decoration: underline;
                margin-left: 10px;
              "
              href="/login"
            >
              <h3>Login</h3>
            </a>
          </div>
        </div>
        <div class="screen__background">
          <span
            class="screen__background__shape screen__background__shape4"
          ></span>
          <span
            class="screen__background__shape screen__background__shape3"
          ></span>
          <span
            class="screen__background__shape screen__background__shape2"
          ></span>
          <span
            class="screen__background__shape screen__background__shape1"
          ></span>
        </div>
      </div>
    </div>
  </body>
</html>
